@using SDGApp.Helpers
@model List<SDGApp.ViewModel.AttributeRuleViewModel>
@{ SDGApp.Models.BaseModel BM = new SDGApp.Models.BaseModel();}
@{
    Int32 pageCount = 0;
    Int32 pageSize = GlobalConstants.PageSize;
    if (Model.Count > 0)
    {
        pageSize = Model[0].PageSize;
    }
    Int32 pageNumber = 0;
    Int32 totalRecord = 0;
    String title = "AQttribute Rule List";
}
<script src="@Url.Content("~/Scripts/paging.js")"></script>

<header class="panel-heading">
    @title
    <span class="tools pull-right">
        <button onclick="window.location.href = '/AttributeRule/AddRule'" type="button" class="btn btn-info btn-sm"> Add Attribute</button>
    </span>
</header>
@if (Model.Count > 0)
{
    totalRecord = Model[0].TotalRecords;
    <div class="panel-body">
        <table class="table  table-hover general-table">
            <thead>
                <tr>
                    <th> Label Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SDGApp.ViewModel.AttributeRuleViewModel item in Model)
                {
                    pageCount = item.TotalRecords / item.PageSize;
                    if (item.TotalRecords % item.PageSize != 0)
                    {
                        pageCount = pageCount + 1;
                    }
                    pageNumber = item.PageNumber;
                    pageSize = item.PageSize;

                    <tr>
                        <td><a href="#">@item.AttributeLabel</a></td>
                        <td>
                            @Html.RawActionLink("<i class=\"fa fa-pencil-square\" ></i>", "EditAttributeRule", "AttributeRule", new { AttrID = item.AttributeRuleID }, new { })
                            <a href="javascript:void(0);" class="" id="Delete_@item.AttributeRuleID" onclick='DeleteAtribute(@item.AttributeRuleID);'><i class="fa fa-trash"></i></a>
                        </td>

                    </tr>

                }

            </tbody>
        </table>
    </div>
}
else
{
    <div class="panel-body">
        <div class="no-record-found">
            No Records Found.
        </div>
    </div>
}




@section Scripts
{
    <script type="text/javascript">
         fnSelectMenuActive('manageattribute', '');
        $('select#ddlPageSize').val('@pageSize');
        $('select#ddlPaging').val('@pageNumber');
    </script>

}

<script type="text/javascript">
    function DeleteAtribute(AttributeID) {

        var cofirmmessage = 'Are you sure you want to delete this?';
        var successmessage = 'Data deleted successfully.';
        var $element = $(this);
        customConfirm({ message: cofirmmessage },
            function (retunVal) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteAttributeRule", "AttributeRule")",
                    data: { AttributeID: AttributeID },
                    success: function (data) {
                        if (data.Result) {

                            showsuccess(data.Message);
                            setTimeout(function () { location.reload(); }, 6000);
                        }
                        else {
                            showsuccess(data.Message);
                            location.reload();
                            setTimeout(function () { location.reload(); }, 6000);
                        }
                    },
                    error: function (arg) {
                        alert("Error");
                    }

                });
            },
             function (retunVal) {
                 showalertpopup('No data was deleted.');
             });

    }
</script>
<script>
    $('#addnewuser').unbind("click").on('click', function () {



    });

</script>
