@model SDGApp.ViewModel.UserMessageViewModel
@{
    ViewBag.Title = "Add Message";
    SDGApp.Models.BaseModel BM = new SDGApp.Models.BaseModel();

}


<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
<script src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")"></script>



@{Html.RenderPartial("_Breadcrumbs"); }


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="panel ">
            <header class="panel-heading">
                <h2> Compose Message </h2>
                <span class="tools pull-right none">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-cog"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body form-generalIn">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @using (Html.BeginForm("Add", "UserMessage", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()
                            <div class="position-center generalIn-formz generalIn-formzTag">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 no-pad">
                                        <div>
                                            <div class="form-group">
                                                <label class="col-lg-1 col-md-1 col-sm-12 control-label">To :</label>
                                                <div class="col-lg-11 col-md-11 col-sm-12">
                                                    @Html.TextBoxFor(m => m.MessageTo, new { @placeholder = "To", @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.MessageTo)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-1 col-md-1 col-sm-12 control-label">Cc :</label>
                                                <div class="col-lg-11 col-md-11 col-sm-12">
                                                    @Html.TextBoxFor(m => m.MessageCc, new { @placeholder = "Cc", @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.MessageCc)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-1 col-md-1 col-sm-12 control-label">Subject :</label>
                                                <div class="col-lg-11 col-md-11 col-sm-12">
                                                    @Html.TextBoxFor(m => m.MessageSubject, new { @placeholder = "Subject", @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.MessageSubject)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-1 col-md-1 col-sm-12 control-label">Body</label>
                                                <div class="col-lg-11 col-md-11 col-sm-12">
                                                    @Html.TextAreaFor(m => m.MessageBody, new { @placeholder = "Body", @class = "form-control", @rows = "10" })
                                                    @Html.ValidationMessageFor(m => m.MessageBody)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-lg-offset-1 col-lg-11">
                                                    <button id="btnSubmit" class="btn btn-primary" type="submit">Send</button>
                                                    @Html.ActionLink("Cancel", "Index", "UserMessage", new { }, new { @class = "btn btn-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>




@section Scripts
{
    <script>

        fnSelectMenuActive('sendmail', '');

        //var editor = CKEDITOR.replace('MessageBody');
        var editor = CKEDITOR.replace('MessageBody', { toolbarStartupExpanded: false, resize_enabled : false });

        //$('#MessageBody').CKEDITOR();        

    </script>
}

