@using SDGApp.Helpers
@model List<SDGApp.ViewModel.TagsViewModel>
@{
    Int32 pageCount = 0;
    Int32 pageSize = GlobalConstants.PageSize;
    if (Model.Count > 0)
    {
        pageSize = Model[0].PageSize;
    }
    Int32 pageNumber = 0;
    Int32 totalRecord = 0;
    String title = "Tags List";
    SDGApp.Models.BaseModel BM = new SDGApp.Models.BaseModel();
}
<script src="@Url.Content("~/Scripts/paging.js")"></script>

<header class="panel-heading">
    @title
    <span class="tools pull-right">
        <button onclick="window.location.href='/Tags/Add'" type="button" class="btn btn-info btn-sm"> Add New</button>
    </span>
    <div class="failure-message"></div>
</header>

@if (Model.Count > 0)
{
    totalRecord = Model[0].TotalRecords;
<div class="panel-body">
    <section class="pagesize-panel">
        <div class="pagesiz-ddl">
            @Html.Partial("_PageSize", new ViewDataDictionary { { "pagesize", pageSize } })
        </div>
        <div class="records-count">
            @totalRecord record(s) found
        </div>
        <div class="clear"></div>
    </section>
    <table class="table  table-hover general-table">
        <thead>
            <tr>
                <th>Tag Name</th>
                <th>Tag Description</th>
                <th>Tag Category Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SDGApp.ViewModel.TagsViewModel item in Model)
            {
                pageCount = item.TotalRecords / item.PageSize;
                if (item.TotalRecords % item.PageSize != 0)
                {
                    pageCount = pageCount + 1;
                }
                pageNumber = item.PageNumber;
                pageSize = item.PageSize;

                <tr>
                    <td><a href="#">@item.TagName </a></td>
                    <td>
                        @if (item.Description.Length > 15)
                        {<text>@item.Description.Substring(0, 14)</text> }
                    else
                    {
                        <text>@item.Description</text>
                    }
                    </td>
                    <td>@item.TagcategoryName</td>
                    <td>
                        @Html.RawActionLink("<i class=\"fas fa-pen-nib\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Modify\" ></i>", "Edit", "Tags", new { ID = item.TagsID }, new { })
                        <a href="javascript:void(0);" class="UserDeletelist" id="Delete_@item.TagsID" onclick='DeleteTags(@item.TagsID);'>
                        <i class="fas fa-trash-restore-alt" data-toggle="tooltip" data-placement="left" title="Remove"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <section class="paging-panel">
        @Html.Partial("_Paging", new ViewDataDictionary { { "pagecount", pageCount }, { "pagenumber", pageNumber } })
    </section>
</div>
}
else
{
    <div class="panel-body">
        <div class="no-record-found">
            No Records Found.
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $('select#ddlPageSize').val('@pageSize');
        $('select#ddlPaging').val('@pageNumber');

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        }); 
    </script>
}

<script type="text/javascript">
    function DeleteTags(TagsID) {
        
        var cofirmmessage = 'Are you sure you want to delete this?';
        var successmessage = 'Data deleted successfully.';
        var $element = $(this);
        customConfirm({ message: cofirmmessage },
            function (retunVal) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteTags", "Tags")",
                    data: { ID: TagsID },
                success: function (data) {
                    if (data.Result) {
                        showsuccess(data.Message);
                    }
                    else {
                        showfailure(data.Message);
                    }
                    loadrecordlist('@pageNumber');
                },
                error: function (arg) {
                    alert("Error");
                }

            });
    },
    function (retunVal) {
        showalertpopup('No data was deleted.');
    });

    }
</script>