@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="@Url.Content("~/Content/Latest/images/favicon.ico")">
    <title>Health Gauge | Privacy Policy</title>
    <!-- Core CSS -->
    <link href="@Url.Content("~/Content/Latest/css/bootstrap.css")" rel="stylesheet">
    <!-- Font Awesome Pro CSS -->
    <script src="https://kit.fontawesome.com/dadf664d1b.js" crossorigin="anonymous"></script>
    <!-- external css -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Latest/js/gritter/css/jquery.gritter.css")" />
    <!-- responsive table css -->
    <link href="@Url.Content("~/Content/Latest/css/table-responsive.css")" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="@Url.Content("~/Content/Latest/css/style.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Latest/css/style-responsive.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="@Url.Content("~/Content/Latest/js/jquery-1.10.2.min.js")"></script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>


<body class="full-width pp-body">

    <section id="container">

        <!--header start-->
        <header class="header ">
            <div class="navbar-header header-policy">
                <button type="button" class="navbar-toggle hr-toggle none" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars"></span>
                </button>

                <!--logo start-->
                <!--logo start-->
                <div class="brand ">
                    <a href="#" class="logo">
                        <img src="@Url.Content("~/Content/Latest/images/logo.png")" alt="">
                    </a>
                </div>
                <!--logo end-->
                <!--logo end-->
                <div class="horizontal-menu navbar-collapse collapse none ">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
                <div class="top-nav hr-top-nav">
                    <ul class="nav pull-right top-menu">
                        <li>
                            <button onclick="window.location.href='/Account/LogOut'" type="button" class="btn "><i class="fa fa-reply" aria-hidden="true"></i>  Back </button>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!--header end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper noTop wrapper-policy ">

                <div class="container">

                    <!-- page start-->
                    <div class="row text-center">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="page-header"> Privacy Policy </h1>
                        </div>
                    </div>
                    @*<div class="row text-center">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="page-text">Health Gauge Privacy Policy.</p>
                        </div>
                    </div>*@
                    <div class="row text-center">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="line">&nbsp;</p>
                        </div>
                    </div>

                    <div class="row text-left">
                        <div class="col-lg-3 col-md-3 col-sm-12"></div>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <div>
                                <h3 class="page-type-header">Health Gauge Policy</h3>
                                <h5 class="page-type-body">Effective date: November 02, 2019</h5>
                                <p class="page-text-body">
                                    Health Gauge ("us", "we", or "our") operates the Health Gauge mobile application and related online application (hereinafter referred to as the "Service").
                                    <br /><br />
                                    This page informs you of our policies regarding the collection, use and disclosure of personal data when you use our Service and the choices you have associated with that data.
                                    <br /><br />
                                    We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, the terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.
                                </p>

                                <h3 class="page-type-header">Definitions</h3>
                                <p class="page-text-body">
                                    <strong>Service:</strong> Service is the Health Gauge mobile and any related online applications operated by Health Gauge.
                                    <br />
                                    <strong>
                                        Personal Data:
                                    </strong> Personal Data means data about a living individual who can be identified from those data (or from those and other information either in our possession or likely to come into our possession).
                                    <br />
                                    <strong>
                                        Usage Data:
                                    </strong> Usage Data is data collected automatically either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).
                                    <br />
                                    <strong>Cookies:</strong> Cookies are small files stored on your device (computer or mobile device).
                                </p>

                                <h3 class="page-type-header">Information Collection and Use</h3>
                                <p class="page-text-body">
                                    We collect several different types of information for various purposes to provide and improve our Service to you.
                                </p>

                                <h3 class="page-type-header">Types of Data Collected</h3>
                                <h5 class="page-type-headerone">Personal Data</h5>
                                <p class="page-text-body">
                                    While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include,
                                    <br />
                                    but is not limited to:
                                    <ul class="page-text-point">
                                        <li class="text-single-point">First name and last name.</li>
                                        <li class="text-single-point">Email address.</li>
                                        <li class="text-single-point">Phone number.</li>
                                        <li class="text-single-point">Cookies and Usage Data.</li>
                                    </ul>
                                </p>

                                <h5 class="page-type-headerone">Usage Data</h5>
                                <p class="page-text-body">
                                    When you access the Service with a mobile device, we may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile device or computer unique ID, the IP address of your mobile or computer device, your mobile or other pertinent operating system information, the type of mobile or computer Internet browser you use, unique device identifiers and other diagnostic data ("Usage Data").
                                </p>

                                <h5 class="page-type-headerone">Tracking Cookies Data</h5>
                                <p class="page-text-body">
                                    We use cookies and similar tracking technologies to track the activity on our Service and we hold certain information.
                                    <br /><br />
                                    Cookies are files with a small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Other tracking technologies are also used such as beacons, tags and scripts to collect and track information and to improve and analyse our Service.
                                    <br /><br />
                                    You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.
                                    <br /><br />
                                    Examples of Cookies we use:
                                    <ul class="page-text-point">
                                        <li class="text-single-point"><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
                                        <li class="text-single-point"><strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various settings.</li>
                                        <li class="text-single-point"><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
                                    </ul>
                                </p>

                                <h5 class="page-type-headerone">Use of Data</h5>
                                <p class="page-text-body">
                                    Health Gauge uses the collected data for various purposes:
                                    <ul class="page-text-point">
                                        <li class="text-single-point">To provide and maintain our Service.</li>
                                        <li class="text-single-point">To notify you about changes to our Service</li>
                                        <li class="text-single-point">To allow you to participate in interactive features of our Service when you choose to do so.</li>
                                        <li class="text-single-point">To provide customer support.</li>
                                        <li class="text-single-point">To gather analysis or valuable information so that we can improve our Service.</li>
                                        <li class="text-single-point">To monitor the usage of our Service.</li>
                                        <li class="text-single-point">To detect, prevent and address technical issues.</li>
                                    </ul>
                                </p>

                                <h5 class="page-type-headerone">Transfer of Data</h5>
                                <p class="page-text-body">
                                    Your information, including Personal Data, may be transferred to - and maintained on - computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ from those of your jurisdiction.
                                    <br /><br />
                                    If you are located outside Canada and choose to provide information to us, please note that we transfer the data, including Personal Data, to Canada and process it there.
                                    <br /><br />
                                    Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
                                    <br /><br />
                                    Health Gauge will take all the steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organisation or a country unless there are adequate controls in place including the security of your data and other personal information.
                                </p>

                                <h3 class="page-type-header">Disclosure of Data</h3>
                                <h5 class="page-type-headerone">Legal Requirements</h5>
                                <p class="page-text-body">
                                    Health Gauge will protect the privacy of its users but reserves the right to disclose your Personal Data in the good faith belief that such action is necessary to:
                                    <ul class="page-text-point">
                                        <li class="text-single-point">To comply with a legal obligation.</li>
                                        <li class="text-single-point">To protect and defend the rights or property of Health Gauge.</li>
                                        <li class="text-single-point">To prevent or investigate possible wrongdoing in connection with the Service.</li>
                                        <li class="text-single-point">To protect the personal safety of users of the Service or the public.</li>
                                        <li class="text-single-point">To protect against legal liability.</li>
                                    </ul>
                                </p>

                                <h5 class="page-type-headerone">Security of Data</h5>
                                <p class="page-text-body">
                                    The security of your data is important to us but remember that no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.
                                </p>

                                <h3 class="page-type-header">Service Providers</h3>
                                <p class="page-text-body">
                                    We may employ third party companies and individuals to facilitate our Service ("Service Providers"), provide the Service on our behalf, perform Service-related services or assist us in analysing how our Service is used.
                                    <br /><br />
                                    These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
                                </p>

                                <h3 class="page-type-header">Analytics</h3>
                                <p class="page-text-body">
                                    We may use third-party Service Providers to monitor and analyse the use of our Service, or for the purposes of providing Services to the user for dashboards used in presenting information and analysis.
                                </p>

                                <h3 class="page-type-header">Links to Other Sites</h3>
                                <p class="page-text-body">
                                    Our Service may contain links to other sites that are not operated by us. If you click a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
                                    <br /><br />
                                    We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services that may be provided outside of the Health Gauge Service.
                                </p>

                                <h3 class="page-type-header">Children's Privacy</h3>
                                <p class="page-text-body">
                                    Our Service does not address anyone under the age of 13 (“Child” or "Children"), without the consent of a parent or guardian.
                                    <br /><br />
                                    We do not knowingly collect personally identifiable information from anyone under the age of 13. If you are a parent or guardian and you are aware that your Child has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.
                                </p>

                                <h3 class="page-type-header">Changes to This Privacy Policy</h3>
                                <p class="page-text-body">
                                    We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
                                    <br /><br />
                                    We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.
                                    <br /><br />
                                    You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
                                </p>

                                <h3 class="page-type-header">Contact Us</h3>
                                <p class="page-text-body">
                                    If you have any questions about this Privacy Policy, please contact us:
                                    <ul class="page-text-point">
                                        <li class="text-single-point">By email: <em>info@healthgauge.ca</em></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="line">&nbsp;</p>
                        </div>
                    </div>

                </div>



                <!-- page end-->

            </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        <footer class="footer-section">
            <div class="text-center footer-policy">
                @DateTime.Now.Year &copy; <a href="http://app.healthgauge.com/"> Salu Design Group INC. </a> All Right Reserved.
                <a href="#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->

    </section>


    <!--Core js-->
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/Content/Latest/js/bootstrap.js")"></script>
    <script class="include" type="text/javascript" src="@Url.Content("~/Content/Latest/js/jquery.dcjqaccordion.2.7.js")"></script>
    <script src="@Url.Content("~/Content/Latest/js/jquery.scrollTo.min.js")"></script>
    <script src="@Url.Content("~/Content/Latest/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js")"></script>
    <script src="@Url.Content("~/Content/Latest/js/jquery.nicescroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/gritter/js/jquery.gritter.js")"></script>
    <script src="@Url.Content("~/Content/Latest/js/bootstrap-switch.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/fuelux/js/spinner.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/bootstrap-fileupload/bootstrap-fileupload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/bootstrap-wysihtml5/wysihtml5-0.3.0.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/bootstrap-daterangepicker/moment.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/bootstrap-daterangepicker/daterangepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/bootstrap-timepicker/js/bootstrap-timepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/jquery-multi-select/js/jquery.multi-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/jquery-multi-select/js/jquery.quicksearch.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Latest/js/bootstrap-inputmask/bootstrap-inputmask.min.js")"></script>
    <script src="@Url.Content("~/Content/Latest/js/jquery-tags-input/jquery.tagsinput.js")"></script>
    <script src="@Url.Content("~/Content/Latest/js/select2/select2.js")"></script>
    <script src="@Url.Content("~/Content/Latest/js/select-init.js")"></script>

    <script src="@Url.Content("~/Content/Latest/js/scripts.js")"></script>
    <script src="@Url.Content("~/Content/Latest/js/advanced-form.js")"></script>
    <script src="@Url.Content("~/Content/Latest/js/gritter.js")" type="text/javascript"></script>

</body>


</html>
